<%--
  ~ Copyright (c) 2013, Andy Moncsek, inc.
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without modification, are permitted provided
  ~ that the following conditions are met:
  ~
  ~    Redistributions of source code must retain the above copyright notice, this list of conditions and the
  ~    following disclaimer.
  ~
  ~    Redistributions in binary form must reproduce the above copyright notice, this list of conditions and
  ~    the following disclaimer in the documentation and/or other materials provided with the distribution.
  ~
  ~    Neither the name of Andy Moncsek, inc. nor the names of its contributors may be used to endorse or
  ~    promote products derived from this software without specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
  ~ WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~ PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ~ ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
  ~ TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
  ~ HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
  ~ NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  ~ POSSIBILITY OF SUCH DAMAGE.
  --%>

<%@page contentType="text/html" pageEncoding="UTF-8" %>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello WebSocket</title>

    <script language="javascript" type="text/javascript">
        var wsUri = "ws://192.168.32.129:28080/WebClient-Websocket/echo";
        var websocket = new WebSocket(wsUri);
        websocket.onopen = function (evt) {
            onOpen(evt)
        };
        websocket.onmessage = function (evt) {
            onMessage(evt)
        };
        websocket.onerror = function (evt) {
            onError(evt)
        };

        function init() {
            output = document.getElementById("output");
        }

        function say_hello() {
            websocket.send(nameField.value);
            writeToScreen("SENT: " + nameField.value);
        }

        function onOpen(evt) {
            writeToScreen('<span style="color: red;">CONNECTED:</span>: ');
        }

        function onMessage(evt) {
            writeToScreen('<span style="color: red;">RECEIVED:</span>: ' + evt.data);
        }

        function onError(evt) {
            writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
        }

        function writeToScreen(message) {
            var pre = document.createElement("p");
            pre.style.wordWrap = "break-word";
            pre.innerHTML = message;
            output.appendChild(pre);
        }

        window.addEventListener("load", init, false);
    </script>
</head>
<body>
<h1>Getting Started with WebSocket!!</h1>

<div style="text-align: center;">
    <form action="">
        <input onclick="say_hello()" value="Say Hello" type="button">
        <input id="nameField" name="name" value="WebSocket" type="text"><br>
    </form>
</div>
<div id="output"></div>
</body>
</html>
